.table-container {
    font-family: "Overpass", sans-serif;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.donation-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

.donation-table caption {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 1vh;
}

.donation-table th, .donation-table td {
    padding: 1%;
    text-align: center;
    height: 5vh;
}

.person:nth-child(even) {
    background-color: darkred;
    color: white;
}

.person td {
    padding: 1%;
}
