@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

body {
    background-color: #222222;
    color: #111;
    display: grid;
    width: 100%;
}

header {
    background-color: #222;
    color: #fff; /* Black text color */
    padding: 10px;
    text-align: center;
    grid-row: 1; /* Первая строка сетки */
    display: flex; /* Используем flexbox */
    align-items: center; /* Выравниваем элементы по вертикали */
    position: absolute;
}

nav {
    background-color: #222; /* Gold background for navigation */
    display: flex; /* Растягиваем элементы внутри навигации по горизонтали */
    padding: 10px 20px; /* Добавляем отступы */
    font-size: 28px;
    font-family: "Cinzel", sans-serif;
    justify-content: space-evenly;
    z-index: 2;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Убираем внешние отступы */
    display: flex; /* Растягиваем список по горизонтали */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #fff; /* Черный текст */
    font-weight: bold; /* Делаем текст жирным */
    transition: color 0.3s ease-in-out; /* Плавный переход цвета */
}

nav ul li a:hover {
    color: #555; /* Красный текст при наведении */
}


/* Main content styles */
.main-content {
    grid-row: 2; /* Вторая строка сетки */
    background-color: white;
    padding-bottom: 100px; /* Высота закрепленного элемента + небольшой дополнительный отступ */
}


footer {
    grid-row: 3;
    background-color: #222; /* Gold background for navigation */
    display: flex; /* Растягиваем элементы внутри навигации по горизонтали */
    justify-content: left; /* Выравниваем элементы по левому краю */
    padding: 10px 20px; /* Добавляем отступы */
    align-items: flex-start; /* Выравниваем элементы по верхнему краю */
    font-family: "Cinzel", sans-serif;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    display: flex; /* Растягиваем список по горизонтали */
    text-align: left ; /* Выравниваем текст по левому краю */
    flex-grow: 1; /* Растягиваем элемент по горизонтали */
}


.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Убираем внешние отступы */
    display: flex; /* Растягиваем список по горизонтали */
}

.contact-info ul li{
    margin-right: 20px;
}

.contact-info li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #ffffff; /* Черный текст */
    font-weight: bold; /* Делаем текст жирным */
    transition: color 0.3s ease-in-out; /* Плавный переход цвета */
}

.contact-info li a:hover {
    color: #555555; /* Красный текст при наведении */
}

.main-content {
    padding: 0;
    grid-row: 2; /* Вторая строка сетки */
    background-color: white;
}

.overlay {
    font-family: "Cinzel", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('../../14turtle14.github.io/image/flag_3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 60px;
    padding: 10px; /* Добавим отступы для текста */
    box-sizing: border-box; /* Учитываем отступы внутри размеров блока */
    font-weight: bold;
}

.introduction {
    text-align: center;
    font-family: "Overpass", sans-serif;
}

.responsive-table {
    display: grid;
    width: 100%;
    border-collapse: collapse;
}

.table-container{
    font-family: "Cinzel", sans-serif;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.progress-schedule {
    width: 100%;
    border-collapse: collapse;
    display: grid;
    grid-auto-rows: auto;
}

@media (max-width: 768px) {
    .nav {
        position: relative;
        width: auto;
    }
}

.progress-schedule caption {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.progress-schedule th, .progress-schedule td {
    border: none;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 900px;

}

.day:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5);
    color: #eae4e4;
}

.day td {
    padding: 10px;
}

.functionality_header{
    text-align: center;
    font-family: "Overpass", sans-serif;
    list-style-type: none;
}

.functionality_list {
    list-style-type: none;
    font-family: "Overpass", sans-serif;
    text-align: left;
}

.reasons_header{
    text-align: center;
    font-family: "Overpass", sans-serif;
    list-style-type: none;
}

.reasons_list {
    list-style-type: none;
    font-family: "Overpass", sans-serif;
    text-align: left;
}

.logo img {
    order: -1;
    margin-right: 20px;
    width: 100px;
    height: auto;
}

.logo:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}