@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #222222;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    grid-row: 1;
    width: 100vw;
    justify-content: left;
    background-color: #222;
    color: #fff;
    padding: 1vh 1vw;
    text-align: center;
    flex-wrap: wrap;
}

footer {
    grid-row: 3;
    background-color: #222;
    display: flex;
    justify-content: center;
    margin: 1vw;
    align-items: flex-end;
    font-family: "Cinzel", sans-serif;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    margin-right: 3vw;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 2em;
    font-family: "Cinzel", sans-serif;
    padding: 0.1em;
}

header ul li a:hover {
    color: #555;
}

.logo img {
    height: auto;
    width: 100px;
}

.logo {
    order: -1;
    margin-right: 3vh;
}

.logo:hover{
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.3);
}

.main-content {
    grid-row: 2;
    background-color: white;
}

.contact-info {
    list-style-type: none;
    padding: 0;
    display: flex;
    text-align: left ;
    flex-grow: 1;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.contact-info ul li{
    margin-right: 2vw;
}

.contact-info li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.contact-info li a:hover {
    color: #555555;
}

.overlay {
    font-family: "Cinzel", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url('../image/flag_3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 4em;
    box-sizing: border-box;
    font-weight: bold;
}

.introduction {
    padding: 1%;
}

.header_introduction{
    text-align: center;
    font-family: "Overpass", sans-serif;
}

.text_introduction{
    text-align: left;
    font-family: "Overpass", sans-serif;
    padding-left: 4vw;
}

.header_functionality{
    text-align: center;
    font-family: "Overpass", sans-serif;
    list-style-type: none;
}

.list_functionality {
    list-style-type: none;
    font-family: "Overpass", sans-serif;
    text-align: left;
}

.header_reasons{
    text-align: center;
    font-family: "Overpass", sans-serif;
    list-style-type: none;
}

.list_reasons {
    list-style-type: none;
    font-family: "Overpass", sans-serif;
    text-align: left;
}

.reasons {
    padding: 1%;
}

.functionality{
    padding: 1%;
}

@media only screen and (max-width: 768px) {
    header, footer {
        padding: 2vw;
    }

    header nav ul li {
        margin-right: 1vw;
    }

    .overlay{
        text-align: center;
    }

    .logo{
        display: none;
    }

    header nav ul li a{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 480px) {

    header, footer {
        padding: 0;
    }

    header nav ul li {
        margin-right: 1vw;
    }

    .overlay{
        text-align: center;
    }

    .logo{
        display: none;
    }

    p#loading-info{
        display: none;
    }

    footer{
        flex-wrap: wrap;
    }

    .contact-info, nav ul{
        justify-content: center;
    }

    header nav ul li a{
        font-size: 1.25em;
    }
}

.page-loading {
    font-family: Cinzel, sans-serif;
    list-style-type: none;
    display: flex;
    text-align: right;
    padding-right: 1%   ;
}

#loading-info {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: white;
}

header nav ul li a.active {
    color: firebrick;
}

.load-time {
    color: firebrick;
    padding: 0 0.5vh;
}

::-webkit-scrollbar{
    width: 0.5vw;
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: firebrick;
    border-radius: 1vh;
}

::-webkit-scrollbar-thumb:vertical:hover {
    transition: color 0.3s ease-in-out;
    background-color: darkred;
}

header nav ul li a.active:hover {
    color: darkred;
}