@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

.home-page{
    background: whitesmoke;
    color: #000033;
    border: none;
    margin: 0;
    padding: 0;
}

.home-header {
    display: grid;
    background: linear-gradient(to right, #000033, darkblue);
}

.home-header__nav {
    text-align: center;
    border: none;
    margin: 30px;
    padding: 0;
    text-indent: 0;
}

.home-link {
    color: black;
    font-size:18px;
    text-indent: 0;
    word-spacing: 0;
}

.home-link_nav{
    color: white;
    transition: 0.5s all ease;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    text-transform: none;
    letter-spacing: 1px;
    font-style: initial;
}

.home-link_nav:hover{
    color: darkgreen;
}

.home-base {
    border: none;
    margin: 0;
    padding-left: 14rem;
    padding-right: 14rem;
}

.home-base__quote {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000033;
    text-transform: none;
    font-weight: 1000;
    text-indent: 0;
    word-spacing: 0;
    letter-spacing: 1px;
    font-style: initial;
}

.home-footer {
    background: linear-gradient(to right, #000033, darkblue);
    color: white;
    background-size: cover;
    border: none;
    margin: 0;
    padding: 1rem;
    display: grid;
}

.home-base__info {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
}

.home-info__head {
    color: #000033;
}

.home-info__list {
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
}

.home-list__item {
    text-align: left;
    border: none;
    margin: 0;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-indent: 0;
    word-spacing: 0;
    text-transform: none;
    letter-spacing: 1px;
    font-style: initial;
}

.home-base__review {
    border: none;
    margin: 1rem;
    padding: 1rem;
}

.home-review__head {
    color: #000033;
}

.home-head{
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    text-indent: 0;
    word-spacing: 0;
    letter-spacing: 1px;
    font-style: initial;
    text-transform: none;
}

.home-footer__head {
    text-align: left;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
    font-size: 18px;
}

.home-review__list {
    border: none;
    margin: 0;
    padding: 0;
}

.home-base__other {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    text-indent: 0;
    color: #000033;
    background-color: whitesmoke;
}

.home-link_other {
    color: #000033;
    text-align: center;
    border: rosybrown solid;
    background-color: peachpuff;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    transition: 0.5s all ease;
    box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.5);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: initial;
    text-transform: none;
}

.home-link_footer{
    color:white;
    font-weight: normal;
    transition: 0.5s all ease;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-style: initial;
    text-transform: none;
    word-spacing: 0;
}

.home-link_other:hover {
    color: whitesmoke;
}

.home-footer__text {
    text-align: left;
    border: none;
    margin: 0;
    padding-left: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-indent: 0;
    word-spacing: 0;
    letter-spacing: 1px;
    font-style: initial;
    text-transform: none;
}

.home-base__img {
    border: none;
    margin: 0;
    padding-left: 1rem;
    text-align: center;
}

.home-img {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border: none;
    margin: 0;
    padding-left: 0;
    width: 60%;
}

.home-link_footer:hover{
    color: skyblue;
}