@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

.home-page{
    background: whitesmoke;
    color: #000033;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.home-header {
    font-family: 'Rubik', sans-serif;
    display: grid;
    background: #000033;
}

.home-header__nav {
    text-align: center;
    border: none;
    margin: 30px;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.home-link {
    color: black;
    font-size:18px;
}

.home-link_nav{
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.home-link_nav:hover{
    color: darkgreen;
}

.home-base {
    text-align: center;
    border: none;
    margin: 0;
    padding-left: 14rem;
    padding-right: 14rem;
    font-family: 'Rubik', sans-serif;
}

.home-base__quote {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    color: #000033;
}

.home-footer {
    background: #000033;
    color: white;
    background-size: cover;
    border: none;
    margin: 0;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    display: grid;
}

.home-link_footer{
    color:white;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}

.home-link_footer:hover{
    color: skyblue;
}

.home-base__info {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-info__head {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-info__list {
    text-align: left;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.home-list__item {
    text-align: left;
    border: none;
    margin: 0;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-base__review {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-review__head {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-review__list {
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

.home-base__other {
    text-align: center;
    border: none;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
}

.home-link_other {
    color: #000033;
    text-align: center;
    border: rosybrown solid;
    background-color: peachpuff;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.home-link_other:hover {
    color: white;
}

.home-footer__head {
    text-align: left;
    border: none;
    margin: 0;
    padding-left: 1rem;
    padding-bottom: 1rem;
    font-family: 'Rubik', sans-serif;
    font-size: 18px
}

.home-footer__text {
    text-align: left;
    border: none;
    margin: 0;
    padding-left: 1rem;
    font-family: 'Rubik', sans-serif;
}