@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&display=swap');

.nav {
    text-align: center;
}

a{
    color: white;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
a:hover{
    color:yellowgreen;
}

.aside {
}

.search {
}

.reviews {
}

.other {
}

.info {
}

.footer {
    background: url('img/footer_lines.jpeg') no-repeat;
    color: lavenderblush;
    background-size: cover;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.header {
    font-family: 'Rubik', sans-serif;
    border-style: none;
    display: grid;
    min-height: 200%;
    background: url('img/footer_lines.jpeg') no-repeat;
    background-size: cover;
}

.links {
    color: black;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
.links:hover{
    color:red;
}
html{
    background: white;
    max-width: 75%;
    margin: auto;
}
body{
    background: whitesmoke;
}

.telegram{
    color:white;
    font-weight: bold;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    text-decoration: none;
}
.telegram:hover{
    color: skyblue;
}

.ol {
    list-style-type: revert;
}

.ul {
    list-style-type: circle;
}